@import "tailwindcss";

@layer base {
  div {
    @apply bg-gray-800; /* or any Tailwind bg utility */
    @apply border-[#00FF99];
    @apply text-gray-100;
  }

  section, button {
    @apply bg-gray-800; /* or any Tailwind bg utility */
    @apply border-[#00FF994D]
  }

  button {
    @apply hover:cursor-pointer;
  }

  section {
    scroll-margin-top: 80px; /* Adjust to your navbar height */
  }

  aside {
    @apply bg-gray-800; /* or any Tailwind bg utility */
    @apply border-[#00FF99];
  }

  th {
    @apply text-base font-normal py-1;
  }

  h1 {
    @apply text-4xl md:text-6xl
  }

  h2 {
    @apply text-3xl md:text-4xl
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold
  }

  h4 {
    @apply text-xl md:text-2xl
  }

  textarea {
    resize: none;
  }

  pre {
    font-family: inherit;
  }

  label {
    @apply text-lg md:text-xl
  }
}

:root {
  --background: #0F0F0F;
  --foreground: #374151;
}
/* --foreground: #00FF99; */

body {
  background: var(--background);
  color: var(--foreground);
}
